[access]
	inheritFrom = Public-Projects
[receive]
	requireChangeId = false
[access "refs/heads/*"]
	push = +force group google/gerritcodereview-maintainers@googlegroups.com
	create = group google/gerritcodereview-maintainers@googlegroups.com
	label-Code-Review = -2..+2 group google/gerritcodereview-maintainers@googlegroups.com
	label-Verified = -1..+1 group google/gerritcodereview-maintainers@googlegroups.com
	submit = group google/gerritcodereview-maintainers@googlegroups.com
